/* body{
    background-image: url(https://lh3.googleusercontent.com/proxy/-YU6c86dy1Z53sO9pDfm42QzjeRF8RiOHRnKPUnEkbCfeb3fECg_iByWvzisLxZBmPX2GPgjCDBWJTjRUzuid45FKUtSAF9kxbjwp1b1Ba9Zi2_u_6JO2dQQa_60PGW886bp1Gi8ncIlCKCymw=s0-d);
}

.welcome{
    color: white;
}

.profile-form{
    color: white;
} */
